/* Styling Only Related To ALL Pages */

body {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-size: 40px;
  padding-top: 30px;
  margin-left: 0px;
  margin-right: 0px;

  background-image: url("your-image.jpg");
  background-repeat: no-repeat; /* prevents repeating */
  background-size: cover; /* makes it fill the screen */
  background-position: center; /* centers the image */

  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
html {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnH_dNZ1aT-nYhS7Zu0E5Vr_XmkT4oI2_GLQ&s");
  background-size: cover;
  background-attatchement: fixed;
}

/* ⬆⬆⬆⬆ Nav Bar Styling 
~~~~~ Taken From: 
https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: pink;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.nav li a:hover:not(.active) {
  background-color: grey;
}

ul.nav .active {
  background-color: pink;
}

h1 {
  width: 100%;
  margin-bottom: 20px; /* adds space below the heading */
}
p {
  color: black;
}
.photo-gallery {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.photo-gallery img {
  width: 30%;
  border-radius: 8px;
  transition: transform 0.3s;
}
.photo-gallery img:hover {
  transform: scale(1.05);
}
